/* For calculating height of container */
/* Set to the height of the _tallest_ element */
.masonry {
  display: flex;
  flex-flow: column wrap;
  align-content: center; }

.masonry > .break {
  flex-basis: 100%;
  content: "";
  width: 0 !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  box-shadow: none !important; }

@media (max-width: 600px) {
  .masonry > * {
    width: 100%; } }

@media (min-width: 601px) and (max-width: 900px) {
  .masonry {
    height: 2945px; }
  .masonry > * {
    width: 49.5%; }
  .masonry > *:nth-of-type(2n+1) {
    order: 1; }
  .masonry > *:nth-of-type(2n) {
    order: 2; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .masonry {
    height: 1963.33333px; }
  .masonry > * {
    width: 33%; }
  .masonry > *:nth-of-type(3n+1) {
    order: 1; }
  .masonry > *:nth-of-type(3n+2) {
    order: 2; }
  .masonry > *:nth-of-type(3n) {
    order: 3; } }

@media (min-width: 1201px) and (max-width: 1500px) {
  .masonry {
    height: 1472.5px; }
  .masonry > * {
    width: 24.75%; }
  .masonry > *:nth-of-type(4n+1) {
    order: 1; }
  .masonry > *:nth-of-type(4n+2) {
    order: 2; }
  .masonry > *:nth-of-type(4n+3) {
    order: 3; }
  .masonry > *:nth-of-type(4n) {
    order: 4; } }

@media (min-width: 1501px) and (max-width: 1800px) {
  .masonry {
    height: 1178px; }
  .masonry > * {
    width: 19.8%; }
  .masonry > *:nth-of-type(5n+1) {
    order: 1; }
  .masonry > *:nth-of-type(5n+2) {
    order: 2; }
  .masonry > *:nth-of-type(5n+3) {
    order: 3; }
  .masonry > *:nth-of-type(5n+4) {
    order: 4; }
  .masonry > *:nth-of-type(5n) {
    order: 5; } }

@media (min-width: 1801px) and (max-width: 2100px) {
  .masonry {
    height: 981.66667px; }
  .masonry > * {
    width: 16.5%; }
  .masonry > *:nth-of-type(6n+1) {
    order: 1; }
  .masonry > *:nth-of-type(6n+2) {
    order: 2; }
  .masonry > *:nth-of-type(6n+3) {
    order: 3; }
  .masonry > *:nth-of-type(6n+4) {
    order: 4; }
  .masonry > *:nth-of-type(6n+5) {
    order: 5; }
  .masonry > *:nth-of-type(6n) {
    order: 6; } }
