
$itemwidth: 300px;

/* For calculating height of container */
$itemcount: 30;
$itemheight: 190px; /* Set to the height of the _tallest_ element */

.masonry {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

.masonry > .break {
	flex-basis: 100%;
	content: "";
	width: 0 !important;
	border: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	box-shadow: none !important;
}

@media (max-width: $itemwidth * 2) {
	.masonry > * { width: 100%; }
}
@for $numcols from 2 through 6 {
	@media (min-width: $itemwidth * $numcols + 1px) and (max-width: $itemwidth * ($numcols + 1)) {
		.masonry { height: $itemheight * ($itemcount + 1) / $numcols; }
		.masonry > * { width: 99% / $numcols; }
		@for $i from 1 through $numcols - 1 {
			.masonry > *:nth-of-type(#{$numcols}n+#{$i}) { order: $i; }
		}
		.masonry > *:nth-of-type(#{$numcols}n) { order: $numcols; }
	}
}
